<form [formGroup]="produtoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome <span>*</span></label>
      <input #nomeInput type="text" id="nome" class="form-control" formControlName="nome">
      <div *ngIf="produtoForm.get('nome')?.invalid && (produtoForm.get('nome')?.dirty || produtoForm.get('nome')?.touched)" class="alert alert-danger">
        O nome é obrigatório.
      </div>
    </div>
    <div class="form-group">
      <label for="preco">Preço <span>*</span></label>
      <input #precoInput type="number" step="0.01" id="preco" class="form-control" formControlName="preco">
      <div *ngIf="produtoForm.get('preco')?.invalid && (produtoForm.get('preco')?.dirty || produtoForm.get('preco')?.touched)" class="alert alert-danger">
        O preço é obrigatório.
      </div>
    </div>
    <div class="form-group">
      <label for="descricao">Descrição</label>
      <textarea id="descricao" class="form-control" formControlName="descricao"></textarea>
    </div>
    <div class="form-group">
      <label for="quantidade_estoque">Quantidade em Estoque <span>*</span></label>
      <input #quantidadeEstoqueInput type="number" id="quantidade_estoque" class="form-control" formControlName="quantidade_estoque">
      <div *ngIf="produtoForm.get('quantidade_estoque')?.invalid && (produtoForm.get('quantidade_estoque')?.dirty || produtoForm.get('quantidade_estoque')?.touched)" class="alert alert-danger">
        A quantidade em estoque é obrigatória.
      </div>
    </div>
    <div *ngIf="mensagemDeErro" class="alert alert-danger">
      {{ mensagemDeErro }}
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
  