<nav class="navbar navbar-light bg-light static-top ">
    <div class="navbar-brand container">Desafio Front</div>
</nav>
<section class="call-to-action text-white text-center" id="signup">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <h2 class="mb-4">Login</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-12 margin">
                            <input #emailInput class="form-control form-control-lg" id="email" formControlName="email" type="email" placeholder="Digite o email *"/>
                            <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="alert alert-danger">
                                O email é obrigatório.
                            </div>
                        </div>
                        <div class="col-12 margin">
                            <input #senhaInput class="form-control form-control-lg" id="senha" formControlName="senha" type="password" placeholder="Digite a senha *"/>
                            <div *ngIf="loginForm.get('senha')?.invalid && (loginForm.get('senha')?.dirty || loginForm.get('senha')?.touched)" class="alert alert-danger">
                                A senha é obrigatória.
                            </div>
                        </div>
                        <div *ngIf="mensagemDeErro" class="alert alert-danger">
                            {{ mensagemDeErro }}
                          </div>
                        <div class="col-12">
                            <button class="btn btn-primary btn-lg" type="submit">Entrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>