<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <ul class="container">
        <li>
            <a routerLink="/" routerLinkActive="active" class="navbar-brand" >Start Bootstrap</a>
        </li>
        <li>
            <a routerLink="/sobre" routerLinkActive="active"  class="navbar-brand">Sobre</a>
        </li>
        <li>
            <a routerLink="/produtos" routerLinkActive="active"  class="navbar-brand">Produtos</a>
        </li>
        <li>
            <a routerLink="/login" routerLinkActive="active" class="btn btn-primary" >Login</a>
        </li>
    </ul>
</nav>
