<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <ul class="container">
        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  class="navbar-brand" >Desafio Front</a>
        </li>
        <li>
            <a routerLink="/produtos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Produtos</a>
        </li>
        <li>
            <a routerLink="/sobre" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Sobre</a>
        </li>
        <li>
            <a href="javascript:void(0)" (click)="sair()" >Sair</a>
        </li>
    </ul>
</nav>